@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");
@import "./home.css";

:root {
  --black: rgb(25, 25, 25);
  --white: rgb(250, 250, 250);
  --pastel-blue: rgb(171, 222, 230);
  --pastel-purple: rgb(203, 170, 203);
  --pastel-yellow: rgb(255, 255, 181);
  --pastel-orange: rgb(255, 204, 182);
  --pastel-pink: rgb(243, 176, 195);
  --font-overpass: "Overpass Mono", Cascadia Mono;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: var(--white);
  background: var(--black);
  font-family: var(--font-overpass);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
  & > * {
    box-sizing: border-box;
  }
}

a {
  color: var(--white);
  text-decoration: none;
}
