/* Button */
button {
    font-family: Overpass Mono, Cascadia Mono;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
button:hover {
    background: rgba(250, 250, 250, 0.1);
}
button:active {
    background: rgba(250, 250, 250, 0.3);
}
button[data-dense] {
    padding: 4px;
}

/* A */
a {
    color: white;
    text-decoration: none;
}

/* Input */
input {
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--white);
    padding: 10px;
    font-family: Overpass Mono, Cascadia Mono;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    width: 100%;
}
.dropdown-button-open {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.dropdown-button-open-reverse {
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.dropdown-menu {
    border: 1px solid var(--white);
    border-radius: 0 0 4px 4px;
    background: var(--background);
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 2px);
    z-index: 10;
    max-height: 45vh;
    overflow: hidden;
}
.dropdown-menu-reverse {
    top: calc(-45vh);
    border-radius: 4px 4px 0 0;
}
.dropdown-menu-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden auto;
    height: 40vh;
}

.dropdown-item {
    cursor: pointer;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: rgba(250, 250, 250, 0.3);
}

.dropdown-menu-find {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--white);
    width: 100%;
    height: 30px;
    outline: none;
}

/* Toast */
.toast {
    position: absolute;
    left: 10vw;
    bottom: 10vh;
    background-color: rgba(250, 250, 250, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.toast > span {
    margin: 0.5em;
}
.toast > div {
    height: 4px;
    width: 0;
    background-color: white;
    animation: toast-animation 5s linear;
}
.toast > span > button {
    border: none;
    margin-left: 12px;
}
@keyframes toast-animation {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
