@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");

:root {
    --background: rgb(25, 25, 25);
    --white: rgb(250, 250, 250);
    --pastel-blue: rgb(171, 222, 230);
    --pastel-purple: rgb(203, 170, 203);
    --pastel-yellow: rgb(255, 255, 181);
    --pastel-orange: rgb(255, 204, 182);
    --pastel-pink: rgb(243, 176, 195);
}

html,
body,
#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--white);
    background: var(--background);
    font-family: Overpass Mono, Cascadia Mono;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    & > * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15vw;
}

button {
    font-family: Overpass Mono, Cascadia Mono;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
button:hover {
    background: rgba(250, 250, 250, 0.1);
}
button:active {
    background: rgba(250, 250, 250, 0.3);
}

a {
    color: white;
    text-decoration: none;
}

input {
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 4px;
    color: var(--white);
    padding: 10px;
    font-family: Overpass Mono, Cascadia Mono;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.body3-p {
    display: flex;
    gap: 12px;
    margin-top: 1em;
}

.body3-p:hover {
    a:nth-child(5n + 1) {
        color: var(--pastel-blue);
    }
    a:nth-child(5n + 2) {
        color: var(--pastel-purple);
    }
    a:nth-child(5n + 3) {
        color: var(--pastel-yellow);
    }
    a:nth-child(5n + 4) {
        color: var(--pastel-orange);
    }
    a:nth-child(5n + 5) {
        color: var(--pastel-pink);
    }
}

.dropdown {
    position: relative;
}

.dropdown-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    width: 100%;
}
.dropdown-button-open {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.dropdown-button-open-reverse {
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.dropdown-menu {
    border: 1px solid var(--white);
    border-radius: 0 0 4px 4px;
    background: var(--background);
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 2px);
    z-index: 10;
    max-height: 45vh;
    overflow: hidden;
}
.dropdown-menu-reverse {
    top: calc(-45vh);
    border-radius: 4px 4px 0 0;
}
.dropdown-menu-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden auto;
    height: 40vh;
}

.dropdown-item {
    cursor: pointer;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: rgba(250, 250, 250, 0.3);
}

.dropdown-menu-find {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--white);
    width: 100%;
    height: 30px;
    outline: none;
}
